.button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 240px;
    height: 64px;

    border-radius: 0 !important;
    background-color: var(--secondary-color) !important;
}